<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>GymEntitySessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.GymEntitySessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#GymEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GymSlotSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.GymSlotSessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#GymSlotSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GymSlotSessionBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.GymSlotSessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#GymSlotSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GymEntitySessionBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.GymEntitySessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#GymEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SubscriptionPlanSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.SubscriptionPlanSessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#SubscriptionPlanSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RouteReviewSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.RouteReviewSessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#RouteReviewSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RouteEntitySessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.RouteEntitySessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#RouteEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CustomerSessionBeanLocal</local>
        <ejb-link>GP14-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
</web-app>
